@media (max-width: 450px){
    img{
        width: 100%;
        margin-bottom: 20px;
    }
    #desktop-img-container{
        display: none;
    }
}
@media(min-width: 450px){
    #mobile-img-container{
        display:none;
    }
}