/* Mobile Styling */
.main-container{
    height: 16vh;
    font-family: 'Oswald', sans-serif;

}
.top-nav-container{
    border-bottom: black .05px solid;
    height: 60%;
    display: flex;
}
.logo-container{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    margin-left: 15px;
}
.right-side-container{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#user-login-container{
    display: flex;
    justify-content: space-between;
    width: 75px;
}
.menu-container{
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#shop{
    width: 50%;
    border: lightgray .05px solid;
    border-top: black .01px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#discover{
    width: 50%;
    border: lightgray .05px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
#top-logo{
    width: 200px;
    height: 90px;
}